.nav-link-button {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 0.8rem;
  text-decoration: none;

  &.active {
    background-color: var(--Surface-Surface);
    color: var(--Surface-On-Surface);
  }

  &:active {
    background-color: var(--Grey-Grey700);
    color: white;
  }

  &:hover {
    background-color: var(--Grey-Grey800);
    color: white;
    cursor: pointer;
  }
}
