:root {
  --Surface-Surface: #fafafa;
  --Grey-Grey400: #a3a3a5;
  --Grey-Grey700: #565659;
  --Grey-Grey800: #3e3e40;
  --Surface-On-Surface: #252528;
}

*:focus {
  outline: #55a0f5 solid 3px;
}

body {
  background-color: #252528;
  color: #fafafa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
